<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='landing_styles.css') }}">
</head>
<body>

    <!-- Background Image using img tag -->
    <img src="{{ url_for('static', filename='bkgrd.png') }}" alt="Background Image" class="background-img">

	<div class="top-left-text">
        <h2>Plato</h2>
    </div>

	<!-- Main Content -->
    <div class="landing-container">
        <div class="text-container-one">
            <h1>Plato is a research tool for the 10x researcher</h1>
        </div>
        <div class="text-container-two">
            <h1>Read research papers faster, simplify complex topics, collaborate with your team, and much more - powered by AI</h1>
        </div>

        <a href="/pdf-viewer">
            <button class="enter-btn">Get started for free</button>
        </a>
    </div>

</body>
</html>
